<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form action="/login" method="post">
            <input type="text" name="userName" placeholder="Username" class="form-control" required>
            <input type="password" name="userPassword" placeholder="Password" class="form-control" required>
            <button type="submit" class="btn-login">Login</button>
        </form>
          <label class="register-label">
            New User? <a href="/register">Register Here</a>
        </label>
    </div>
</body>
</html>
