body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(120deg, #1abc9c, #16a085, #ffffff);
  font-family: Arial, sans-serif;
}

.register-container {
  background: #fff;
  padding: 40px 300px 50px 280px;
  border-radius: 5px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  width: 250px;
  text-align: center;
}

.register-container h2 {
  margin-bottom: 25px;
  color: #333;
}

.form-control {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}

.form-control:focus {
  border-color: #1abc9c;
  box-shadow: 0 0 5px rgba(26, 188, 156, 0.5);
}

.btn-register {
  width: 100%;
  padding: 12px;
  background: #1abc9c;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  transition: background 0.3s ease;
}

.btn-register:hover {
  background: #16a085;
}


.toaster {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #4caf50; /* green for success */
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    font-size: 14px;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 1000;
}

.toaster.show {
    opacity: 1;
    transform: translateX(0);
}